.wrapper {
  padding: 15px;

  .checkout-section {
    .form--wrapper {
      display: flex;
      flex-direction: column;
      width: 450px;

      .form--input {
        margin: 10px 0px;
        width: 100%;
        padding: 10px 10px;
        border-radius: 13px;
        border: 1.2px solid rgb(223, 223, 223);
      }
    }

    .checkbox--input {
      margin-top: 15px;
    }
  }

 

  .side-inputs {
    display: flex;
    justify-content: space-between;

    .input--child {
      width: 200px;
    }
  }
}
